{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Band Eve Registration Form</title>
    
  <script>
    setTimeout(function () {
      $("#ms").remove();
    }, 8000);
  </script>
  <link rel="stylesheet" href="{% static 'css/intlTelInput.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
  <link rel="stylesheet" href="{% static 'css/isValidNumber.css' %}">
</head>
<body>
  <div id="bodyx">
  <div id="bodyx2" >
    <div class="container" >

        <form method="POST" enctype="multipart/form-data" action="" id="myform"  class="form" action="#">
          {% csrf_token %}

        <img id="evn" src="{% static 'img/Bandeve.png' %}" alt="">
          <!-- messages -->
          {% if messages %}
          {% for mes in messages %}
          <div class="alert alert-danger" role="alert" id='ms'>
            {{mes}}
          </div>
          {% endfor %}
          {% endif %}
        <h2 id="rfp">Register for Passes</h2>


        <div class="containerx">
	
          <h2>Registration type: </h2>
          
        <ul id="ullu">
        <li>
          <input type="radio" id="f-option" name="regType" value="Self" required>
          <label  type="radio" id="f-option" name="regType" value="Self" required for="f-option">Self</label>
        
          <div class="check"></div>
        </li>
          <li>
          <input type="radio" id="s-option" name="regType" value="Group" required>
          <label for="s-option">Group</label>
          
          <div class="check"></div>
        </li>
                <li>
          <input type="radio" id="t-option" name="regType" value="Corporate" required>
          <label for="t-option">Corporate</label>
          
          <div class="check"></div>
        </li>
              
        <li>
          <input type="radio" id="fo-option" name="regType" value="Others" required>
          <label for="fo-option">Others</label>
          
          <div class="check"><div class="inside"></div></div>
        </li>
        
        
      </ul>
      </div>



        <fieldset class="form-fieldset ui-input __first">
            <input type="text" id="username" name="name" tabindex="0" required/>
            <label for="username">
              <span data-text="Full Name">Full Name</span>
            </label>
          </fieldset>
          
          <fieldset class="form-fieldset ui-input __second">
            <input type="email" id="email" tabindex="0" name="email" required />
            <label for="email">
              <span data-text="E-mail Address">E-mail Address</span>
            </label>
          </fieldset>

          <fieldset class="form-fieldset ui-input __second pd-telephone-input " style="z-index: 10;">
            <div id="result">
              <input id="phone" type="tel" value="+91" name="phoneNumber" required>
              <span id="valid-msg" class="hide">✓ Valid</span>
              <span id="error-msg" class="hide"></span>
            </div>
            <label for="phone">
              <span data-text="Phone Number">Phone Number</span>
            </label>
          </fieldset>

          <fieldset class="form-fieldset ui-input __first" style="z-index: 0">
            <input type="number" required id="ticket" tabindex="0" name="ticketNo" min="1" max="25"/>
            <label for="ticket">
              <span data-text="Number of Tickets (Not more than 25)">Number of Tickets (Not more than 25)</span>
            </label>
          </fieldset>
          
          <div class="width50-left">
            <h2 id="upim">Upload an image of your id card:</h2><br>
            <input type="file" name="idCard" id="ImgUpload" class="ImgUpload" accept="image/*" onchange="openFile(event) " required>
            <label for="ImgUpload">Choose an Image</label>
            
            </div>
            <div class="form-footer">
              <div class="form-footer">
                <button class="btn" type="submit">Get Your Pass</button>
              </div>
              
            </form>
            
          </div>
        </div>
    
  </div>
 
  <div>
    <img id="illus" src="{% static 'img/Group.png' %}" alt="">
  </div>
</div>  
        
<script src="{% static 'js/index.js' %}"></script>
</body>


<script>

</script>
<script src="{% static 'js/intlTelInput.min.js' %}"></script>
<script src="{% static 'js/fullcountrycode.js' %}"></script>
<script src="{% static 'js/intlTelInput.js' %}"></script>
<script src="{% static 'js/isValidNumber.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/number.js' %}"></script>
<script src="{% static 'js/image.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
</html>