{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/otp.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <title>One Time Password</title>
    <style>
      @font-face {
        font-family: longshot;
        src: url("{% static 'fonts/Long_Shot.ttf' %}");
      }
      .form button {
        background-image: url("{% static 'img/orange.jpg' %}");
      }
    </style>
</head>
<body>
<p id="otp">OTP</p>
<p id="otp2">An OTP has been sent to your email. Plese check it.</p>
<img id="bev" src="{% static 'img/Bandeve.png' %}" alt="">
<div id="icons">
    <a href="#"><i id="icon" class="fab fa-facebook-f fa-2x"></i></a>
    <a href="#"><i id="icon" class="fab fa-twitter fa-2x"></i></a>
    <a href="#"><i id="icon" class="fab fa-instagram fa-2x"></i></a>
</div>
        <div class="form">
          <form class="login-form" method="POST" action=""> {% csrf_token %}
            <input type="password" name="onetime" placeholder="OTP"/>
            <button type="submit">Submit</button>  
          </form>
        </div>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>